.searchWrap {
    height: 200px;
    background-color:  rgb(164, 204, 239);
    background-image: url('../../images/Untitled design.png');
    display: flex;
    justify-content: center;
    align-items: center;

    .search {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .searchBox {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .form-outline {
                width: 80%;
                input {
                    width: 100%;
                }
            }
        }
    }
}
