// Body
$body-bg: #f8fafc;

// Typography
$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-tertiary: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$xxs:10px;
$xs:15px;
$s:20px;
$sm:25px;
$m:30px;
$l:40px;
$color-main: rgba(164, 204, 239, 0.23);
$color-secondary:rgba(20, 35, 44, 0.91);
