.mainbox {
    background-color: #F7FAFC;
    margin: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.err {
    color: rgb(57, 159, 252);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
}
.lead {
    font-size: 40px;
}
.far {
    font-size: 8.5rem;
    color: rgb(57, 159, 252);
}

.err2 {
    color: rgb(57, 159, 252);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    width: 75%;
}

a {
    text-decoration: none;
    color: rgb(57, 159, 252);
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 620px) {
    .err {
        color: rgb(57, 159, 252);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 8rem;
    }

    .far {
        font-size: 6rem;
        color: rgb(57, 159, 252);
    }

    .err2 {
        color: rgb(57, 159, 252);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 8rem;
    }

    .lead {
        font-size: 20px;
    }
}
