.navigation-wrap {
    background-color: white;
    box-shadow: 0 1px 2px -1px #000;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: $font-tertiary;
    width: 100%;

    .navigation {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 800;
        font-size: 22px;
        font-variant: all-small-caps;

        &--items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 10%;

            a {
                margin-right: 20px;
                text-decoration: none;
                color: #000;
                transition: all .2s ease-in-out;

                &:hover {
                    color: #a4ccef;
                }
            }
        }

        &--logo {
            margin-left: -100px;
            margin-top: 5px;
            filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(26%) contrast(104%);
            img {
                width: 60px;
                height: 60px;
            }
        }

        &--contact {
            text-align: center;

            a {
                text-decoration: none;
                color: #000;
                transition: all .2s ease-in-out;

                &:hover {
                    color: #a4ccef;
                }
            }
        }

        .hamburger {
            width: 30px;
            height: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            display: none;
            transition: all .2s ease-in-out;

            &__active {
                transform: rotate(90deg);
            }
            div {
                background-color: #000;
                height: 2px;
                width: 100%;
            }
        }
    }

    .mobile-navigation {
        width: 250px;
        background-color: white;
        min-height: 400px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: -100%;
        transition: all .2s ease-in-out;

        a {
            font-size: 20px;
        }
    }

    .mobile-navigation-active {
        width: 250px;
        background-color: white;
        min-height: 400px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 0;
        transition: all .2s ease-in-out;

        a {
            font-size: 20px;
        }
    }
}

@media (max-width: 768px) {
    .navigation-wrap {
        .navigation {
            &--items {
                display: none;
            }

            &--logo {
                margin-left: 0;
            }

            &--contact {
                display: none;
            }

            .hamburger {
                display: flex;
            }
        }
    }
}
