// Body
$body-bg: #f8fafc;

// Typography
$font-main: 'Nunito', sans-serif;
$font-source: 'Source Sans Pro', sans-serif;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$xxs:10px;
$xs:15px;
$s:20px;
$sm:25px;
$m:30px;
$l:40px;
$color-main: #a4ccef;
$color-secondary:rgba(20, 35, 44, 0.91);
